{% extends "site_base.html" %}

{% block main_content %}
<form id="form-register" class="form-horizontal form-register" method="post">
    <h3 style="text-align: center;">爱奇艺On-Site考勤系统</h3>
    <div class="form-group">
        <label for="user-name" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-10">
            <input id="user-name" name="user-name" class="form-control" type="text" placeholder="真实姓名">
        </div>
    </div>
    <div class="form-group">
        <label for="user-email" class="col-sm-2 control-label">邮箱</label>
        <div class="input-group col-sm-10" style="padding-left: 15px; padding-right: 15px">
            <input id="user-email" name="user-email" type="text" class="form-control" placeholder="xxxxxxx_wb">
            <span class="input-group-addon" id="mail_addon">@qiyi.com</span>
        </div>
    </div>
    <div class="form-group">
        <label for="user-pwd" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
            <input id="user-pwd" name="user-pwd" class="form-control" type="password">
        </div>
    </div>
    <div class="form-group">
        <label for="user-worktime" class="col-sm-2 control-label">上班时间</label>
        <div class="col-sm-10">
            <select id="user-worktime" name="user-worktime" class="form-control">
                <option>09:00</option>
                <option>09:30</option>
                <option>10:00</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="user-company" class="col-sm-2 control-label">公司</label>
        <div class="col-sm-10">
            <select id="user-company" name="user-company" class="form-control">
                {% for company in companies %}
                <option>{{company.name}}</option>
                {% end %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="user-team" class="col-sm-2 control-label">工作组</label>
        <div class="col-sm-10">
            <select id="user-team" name="user-team" class="form-control">
                {% for team in teams %}
                <option>{{team.name}}</option>
                {% end %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/login/">
                <button type="button" class="btn btn-default">登陆 </button>
            </a>
            <button type="submit" class="btn btn-primary pull-right">注册</button>
        </div>
    </div>
</form>
{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% end %}
<p>交互与功能建议、系统故障等问题请发送邮件给songbowen@qiyi.com，抄送wutiantian@qiyi.com, meiqian@qiyi.com</p>
{% end %}