{% extends "site_base.html" %}

{% include "nav_bar.html" %}

{% block main_content %}
<!-- search box -->
<form class="form-inline" method="post">
    <div class="form-group">
        <label for="search-month">月份</label>
        <input id="search-month" name="search-month" type="month" class="form-control" value="{{the_month}}">
    </div>
    <button type="submit" class="btn btn-default">查询</button>
</form>
<!-- Result Table -->
<table class="table">
    <thead>
    <tr style="text-align: center">
        <td>星期</td>
        <td>日期</td>
        <td>上班打卡</td>
        <td>下班打卡</td>
        <td>考勤状态</td>
        <td>备注</td>
    </tr>
    </thead>
    <tbody>
    {% import datetime %}
    {% for attendance in results %}
    {% set danger = 'danger' if attendance.attendance_status in [6, 7, 8, 9] else '' %}
    <tr class="{{danger}}">
        {% set year,month,day = map(int, attendance.date.split('-')) %}
        {% set weekday = datetime.datetime(year, month, day).weekday() %}
        <td>{{[u'星期一', u'星期二', u'星期三', u'星期四', u'星期五', u'星期六', u'星期日'][weekday]}}</td>
        <td>{{attendance.date}}</td>
        <td>{{attendance.check_in.strftime('%Y-%m-%d %H:%M:%S') if attendance.check_in != None else ''}}</td>
        <td>{{attendance.check_out.strftime('%Y-%m-%d %H:%M:%S') if attendance.check_out != None else ''}}</td>
        <td>{{attendance.status.status_name if attendance.status != None else ''}}</td>
        <td>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#info-modal" data-date="{{attendance.date}}">
                {% if attendance.is_maintainable == 2 %}
                维护
                {% elif attendance.is_maintainable == 3 %}
                查看已提交维护
                {% end %}
            </a>
        </td>
    </tr>
    {% end %}
    </tbody>
</table>
<!-- info modal -->
<div class="modal fade" id="info-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">异常考勤维护</h4>
            </div>
            <div class="modal-body">
                <form id="info-form">
                    <div class="form-group" hidden>
                        <label for="check-date">Date</label>
                        <input type="text" id="check-date" name="check-date" readonly>
                    </div>
                    <div class="form-group">
                        <label for="checkin-time">上班打卡时间</label>
                        <span class="help-block">格式: <code>yyyy-mm-dd HH:MM:SS</code>. <strong>请使用英文冒号</strong></span>
                        <input type="datetime" class="form-control" id="checkin-time" name="checkin-time">
                    </div>
                    <div class="form-group">
                        <label for="checkout-time">下班打卡时间</label>
                        <span class="help-block">格式: <code>yyyy-mm-dd HH:MM:SS</code>. <strong>请使用英文冒号</strong></span>
                        <input type="datetime" class="form-control" id="checkout-time" name="checkout-time">
                    </div>
                    <div class="form-group">
                        <label for="info">说明</label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="1" checked="checked">其他
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="3">上半天请假
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="4">下半天请假
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="5">全天请假
                        </label>
                        <textarea class="form-control" id="info" name="info" rows="2"></textarea>
                    </div>
                    <p class="text-right">
                        <button  type="submit" class="btn btn-primary">提交</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% end %}