{% extends "site_base.html" %}

{% include "nav_bar.html" %}

{% import datetime %}

{% block main_content %}
<table class="table table-bordered table-hover">
    <thead>
    <tr style="text-align: center;">
        <td>姓名</td>
        <td>邮箱</td>
        <td>考勤日期</td>
        <td><abbr title="Original/Modified">上班时间</abbr></td>
        <td><abbr title="Original/Modified">下班时间</abbr></td>
        <td>说明</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    {% for user, attendance, modify_attendance in results %}
    <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{attendance.date}}</td>
        <td>
            <span style="color: #FF0000;">{{attendance.check_in.strftime("%Y-%m-%d %H:%M:%S")}}</span>/<span style="color: #00FF00;">{{modify_attendance.modify_check_in}}</span>
        </td>
        <td>
            <span style="color: #FF0000;">{{attendance.check_out.strftime("%Y-%m-%d %H:%M:%S")}}</span>/<span style="color: #00FF00;">{{modify_attendance.modify_check_out}}</span>
        </td>
        <td>{{modify_attendance.modify_info}}</td>
        <td>
            {% if modify_attendance.modify_status == 1 %}
            <button type="button" class="btn btn-primary btn-pass" data-check_date="{{attendance.date}}" data-maid="{{modify_attendance.id}}">通过</button>
            <button type="button" class="btn btn-danger btn-reject" data-check_date="{{attendance.date}}" data-maid="{{modify_attendance.id}}">驳回</button>
            {% elif modify_attendance.modify_status == 2 %}
            <p>已通过</p>
            {% elif modify_attendance.modify_status == 3 %}
            <p>已拒绝</p>
            {% end %}
        </td>
    </tr>
    {% end %}
    </tbody>
</table>
{% end %}