{% extends "site_base.html" %}

{% include "nav_bar.html" %}

{% block main_content %}
<div class="col-sm-4" style="padding-left: 0px">
    <div class="panel panel-info">
        <div class="panel-heading">Change Log</div>
        <div class="panel-body">
            <ul>
                <li>V2.0
                <ul>
                    <li>增加用户公司信息和工作组信息</li>
                    <li>增加考勤维护审核</li>
                    <li>增加调休时间&缺勤时间</li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% end %}