{% extends "site_base.html" %}

{% include "nav_bar.html" %}

{% block main_content %}
<!-- search box -->
<form class="form-inline" method="post">
    <div class="form-group">
        <label for="user-name">姓名</label>
        <input id="user-name" type="text" class="form-control" value="{{user.name}}" disabled>
    </div>
    <div class="form-group">
        <label for="late-hour">当月缺勤/h</label>
        <input id="late-hour" type="text" class="form-control" value="{{late_hour}}" disabled>
    </div>
    <div class="form-group">
        <label for="overtime-hour">当月加班/h</label>
        <input id="overtime-hour" type="text" class="form-control" value="{{overtime_hour}}" disabled>
    </div>
    <div class="form-group">
        <label for="late-hour">累计缺勤/h</label>
        <input id="late-hour_total" type="text" class="form-control" value="{{late_hour_total}}" disabled>
    </div>
    <div class="form-group">
        <label for="overtime-hour">累计加班/h</label>
        <input id="overtime-hour_total" type="text" class="form-control" value="{{overtime_hour_total}}" disabled>
    </div>
    <div class="form-group">
        <label for="search-month">月份</label>
        <input id="search-month" name="search-month" type="month" class="form-control" value="{{the_month}}">
    </div>
    <button type="submit" class="btn btn-default">查询</button>
</form>
<!-- table -->
{% import datetime %}
<table class="table table-hover">
    <thead>
    <tr style="text-align: center">
        <td>日期</td>
        <td>上班打卡</td>
        <td>下班打卡</td>
        <td>考勤状态</td>
        <td>备注</td>
    </tr>
    </thead>
    <tbody>
    {% for attendance in attendances %}
    {% set is_weekend = datetime.datetime.strptime(attendance.date, '%Y-%m-%d').weekday() in [5, 6] %}
    {% if attendance.attendance_status in [6, 7, 8, 9] %}
    {% set display_status = 'danger' %}
    {% elif not is_weekend and attendance.attendance_status == 2 %}
    {% set display_status = 'success' if (attendance.check_out - attendance.legal_check_out).seconds > 3600 else '' %}
    {% elif attendance.attendance_status == 10 %}
    {% set display_status = 'success' %}
    {% else %}
    {% set display_status = '' %}
    {% end %}
    <tr class="{{display_status}}">
        <td>{{attendance.date}}</td>
        <td>{{attendance.check_in if attendance.check_in is not None else ''}}</td>
        <td>{{attendance.check_out if attendance.check_out is not None else ''}}</td>
        <td>{{attendance.status.status_name if attendance.attendance_status is not None else ''}}</td>
        <td>{{attendance.info if attendance.info is not None else ''}}</td>
    </tr>
    {% end %}
    </tbody>
</table>
{% end %}